root = true

[*]
charset = utf-8-bom
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
dotnet_style_namespace_match_folder = true:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
csharp_style_namespace_declarations = file_scoped:suggestion

[*.{csproj,props,json,yml}]
indent_size = 2